{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Sanji blog</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'admin/ext/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'admin/ext/css/custom.css' %}">

    <!-- js -->

    <script src="{% static 'admin/ext/js/pace.min.js'%}"></script>
    <script src="{% static 'admin/ext/js/modernizr.custom.js'%}"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-6">
                <div class="logo">
                    <h1><a href="/">Sanji Town</a></h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/" data-hover="博客">博客</a></li>
                            <li class="cl-effect-11"><a href="/about.html" data-hover="关于">关于</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="/search/"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="/search/">
                            <input type="search" placeholder="搜索" type="text" name="q" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>

                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
            {% block article%}
            {% endblock%}
            {% block page %}
            {% endblock%}
            {% block search%}
            {% endblock %}
            </main>
            <aside class="col-md-4">
                <div >
                    <h3 class="widget-title" >最新文章</h3>
                    {% get_recent_posts as posts %}
                    <ul>
                        {% for post in posts%}
                        <li>
                            <p> <a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--<div class="widget widget-archives">-->
                    <!--<h3 class="widget-title" align="center">归档</h3>-->
                    <!--{% get_archives as Archive%}-->
                    <!--<ul>-->
                        <!--{% for date in Archives%}-->
                        <!--<li>-->
                          <!--<p align="center"> <a href="{% url 'blog:archives' date.year date.month %}">-->
                              <!--{{ date.year }} 年 {{ date.month }} 月</a></p>-->
                        <!--</li>-->
                        <!--{% empty %}-->
                        <!--<p align="center"> 暂无归档！</p>-->
                        <!--{% endfor %}-->
                    <!--</ul>-->
                <!--</div>-->

                <div >
                    <h3 class="widget-title" >   分类</h3>
                    {% get_categories as categories%}
                    <ul>
                        {% for cat in categories%}
                        <li>
                            <p >
                            <a href="{% url 'blog:category' cat.pk %}">{{cat.name}}
                                <span class="post-count">({{cat.num_posts}})</span>
                            </a>
                            </p>
                        </li>
                        {% empty%}
                        暂无分类
                        {% endfor%}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy  - <a href="about.html"> Sanji Blog</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="about.html">关于</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'admin/ext/js/script.js' %}"></script>
</body>
</html>
