<!DOCTYPE html>
{% load staticfiles %}
{% load blog_tags %}

<html>
<head>
    {% get_site_info as site%}
    <title>{{site.title}}</title>
    <!-- theme forget transplanted from Wordpress theme forget-->

    <meta name="viewport" content="initial-scale=1.0,user-scalable=no">

    <!-- <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" > -->
    <link rel='stylesheet' href="{% static 'admin/forget/css/mini.css' %}" >
</head>
<body>
    <header class="l-header" style="background-image:url({% static 'admin/forget/img/header.jpg'%});">
        <div class="m-about">
            <div id="logo">
                <a href="/" >
                    <img src="{{site.logo}}"></a>
            </div>
        </div>
    </header>
    <div  id="nav-bar" class="nav-bar" >
        <div class="m-logo-url">
            <a href="about.html"><img src="{{site.logo}}"></a>
            <h3>{{site.title}}</h3>
        </div>
        <div  class="blog-info">
            <ul class="artist-data">
                {% get_blog_data as data%}
                <li><strong>{{data.post_num}}</strong>
                    <span class="label">文章</span></li>
                <li><strong>{{data.total_comments}}</strong>
                    <span class="label">评论</span></li>
                <li class="last"> <strong>{{data.total_views}}</strong>
                    <span class="label">浏览量</span></li>
            </ul>
        </div>
        <div class="recent_posts">
                <h4 >近期文章</h4>
                {% get_recent_posts 3 as posts %}
                <ul>
                    {% for post in posts%}
                    <li class="post"><a href="{{post.get_absolute_url}}"><span class="title"> {{post.title}}</span></a></li>
                    {% endfor %}
                </ul>
        </div>
        <div id="contact" class="contact">
            <p>Email:</p>
            <a href="mailto:((site.owner_email))">{{site.owner_email}}</a>
        </div>
    </div>
    <div id="mini-header" class="mini-header " style="position: fixed;">
        <div id="showLeftPush" class="left m-header-button"></div>
        <h1><a href="/">{{site.title}}</a></h1>
        <div id="search-trigger" style="font-size: 18px;" class="right m-header-search"></div>
    </div>
    <div class="container" style="top: 40px;" >
        {% block content%}
        {% endblock %}
        {% block search%}
        {% endblock%}
    </div>

    <footer id="m-footer" class="footer">
        <div class="Copyright">
            <p class="copyright">&copy;  - <a href="about.html"> {{site.footer}}</a></p>
        </div>
    </footer>
</body>
<script type='text/javascript' src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type='text/javascript' src="{% static 'admin/forget/js/myjs.js' %}"></script>
</html>

