{% extends 'blog/base1.html'%}
{%block article %}

<article class="post post-{{post.pk}}">
    <header class="entry-header">
        <h1 class="entry-title">{{post.title}}</h1>
        <div class="entry-meta">
            <span class="post-author"><a href="#">{{post.author}}</a></span>
            <span class="post-date"><a href="#">{{post.create_time}}</a></span>
            <span class="comments-link"><a href="#">{{num_comment}} 评论</a></span>
            <span class="views-count"><a href="#">{{post.views}} 次阅读</a></span>
            <span class="post-category"><a href="#">{{post.category}}</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        {{post.body|safe}}
    </div>
</article>
<section class="comment-area" id="comment-area">
    <hr>
    <h3>有话憋不住?</h3>
    <form action="{% url 'comment:post_comment' post.pk %}" method="post" class="comment-form">
        <div class="row">
            <div class="col-xs-12">
                <input name="name" class="form-control input-control clearfix" placeholder="昵称:(*)">
            </div>
            <div class="col-xs-12">
                <input name="email" class="form-control input-control clearfix" placeholder="email:(*)">
            </div>
            <div class="col-xs-12">
                <textarea name="text" class="form-control"  placeholder="评论:(*)"></textarea>
                <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>    <!-- row -->
    </form>
    <div class="comment-list-panel">
        <h3>评论列表，共 <span>{{num_comment}}</span> 条评论</h3>
        <ul class="comment-list list-unstyled">
            {% for comment in comment_list%}
                <li class="comment-item">
                    <span class="nickname">{{comment.name}}</span>
                    <time class="submit-date" >{{ comment.create_time }}</time>
                    <div class="text">
                        {{comment.text}}
                    </div>
                </li>
            {% empty%}
            暂无评论
            {% endfor%}

        </ul>
    </div>
</section>


{% endblock %}
