{%extends 'blog/base1.html'%}
{% block article%}
{% for post in posts%}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{post.get_absolute_url}}">{{post.title}}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-author"><a href="#">{{post.author}}</a></span>
                <span class="post-date"><a href="#">{{post.create_time}}</a></span>
                <span class="comments-link"><a href="#">{{post.comment_num}} 条评论</a></span>
                <span class="views-count"><a href="#">{{post.views}} 次阅读</a></span>
                <span class="post-category"><a href="#">{{post.category}}</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p><a href="{{post.get_absolute_url}}">{{post.excerpt}}</a> </p>
            <p ><a href="{{post.get_absolute_url}}" class="more-link">阅读全文 <span class="meta-nav">→</span></a></p>
            <div class="read-more cl-effect-14">

            </div>
        </div>
    </article>

{% empty%}
暂无新文章
{% endfor %}
{% endblock article%}
{% block page%}
<!-- 简单分页效果
<div class="pagination-simple">
    <a href="#">上一页</a>
    <span class="current">第 6 页 / 共 11 页</span>
    <a href="#">下一页</a>
</div>

<div class="pagination" align="center">
    <ul>
        <li><a href="">1</a></li>
        <li><a href="">...</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li class="current"><a href="">6</a></li>
        <li><a href="">7</a></li>
        <li><a href="">8</a></li>
        <li><a href="">...</a></li>
        <li><a href="">11</a></li>
    </ul>
</div>
-->
{% endblock%}
