 <dl>
    <dt class="artitle_author_date">
    <div class="zjj_author_avatar z">
        <a href="/home.php?mod=space&amp;uid=384164&amp;do=profile"><img src="/uc_server/avatar.php?uid=384164&amp;size=middle"  ></a>
    </div>
    <div class="z">
        <div class="cr_author">安若浅溪</div>
        <div class="portallist_cat cr_3"> <a href="/portal.php?mod=list&amp;catid=3">手机</a></div>
    </div>
    <div class="article_date y">12 分钟前</div>

    </dt>
    <dd class="m"><a class="article-img" href="article-25187-1.html"
                     style="background-image: url('http://s1.dimageView2/2/w/960/q/100');"></a></dd>        
    <dt class="zjj_title"><a href="article-25187-1.html">「搞机故事」纪念曾经的手机们</a></dt>
    <dd class="cr_summary">愿你我在生活的压力下，</dd>
    <dd class="cl cr_mmtre"> 
        <span class="cr_replies">16</span>
        <span class="cr_recommend_add">1</span>
    </dd>
</dl>