<form class="commentForm" action="{% url 'comment:post_comment' post.pk %}">
    <input name="name" class="form-control " placeholder="昵称:(*)">
    <input name="email" class="form-control " placeholder="email:(*)">
    <textarea name="text" class="form-control"  placeholder="回复{{comment.name}}"></textarea>
    <input type="hidden" name="parent" value="{{comment.pk}}">
    <!--<input type="hidden" name="ifparent" value="0">-->
    <button type="button" class="submit-btn btn" >提交</button>
    <span style="padding-left:25px;">评论经审核通过后展示</span>
</form>
